<ion-view view-title="Dharma Cast">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="dharmaCast in dharmaCasts">
        <a class="item item-thumbnail-left" href="#/app/dharmaCast/{{dharmaCast.listName}}">
	      <img src="img/{{dharmaCast.listName}}.jpg">
	      <h2>{{dharmaCast.title}}</h2>
	     <!--  <p>Nine Inch Nails</p> -->
	    </a>
        
      </ion-item>
    </ion-list>
    
   <!--  <iframe  src="https://www.yt-download.org/api-console/audio/62Y7BXIuX6Y" width="100%" height="100px" allowtransparency="true" scrolling="no" style="border:none"></iframe> -->
  </ion-content>
</ion-view>
