<ion-view> <ion-nav-title>{{title}}</ion-nav-title> <!-- Search -->
<!-- <div class="bar bar-subheader item-input-inset" ng-show="flights.length">
		<label class="item-input-wrapper">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Flight Search" ng-model="search" ng-change="resizeContent()">			
		</label>
		<button type="button" class="button button-clear icon ion-ios7-close-empty" ng-click="search = null"></button>
	</div> --> 
	
	<ion-content class="has-footer">

<!-- <ul class="playlist">
	<div class="list playlist" ng-click="playTrack($event, $index, track)"
		ng-repeat="track in tracks">
		<li audiourl="{{track.url}}" artist="{{track.title}}" ng-class="">{{track.title}}</li>
	</div>
</ul>  -->

    <div class="list" style="margin-bottom:0px;" ng-click="playTrack($event, $index, track)" ng-repeat="track in tracks">
	<div class="item"  ng-class="{active : currentTrackIndex === $index}">	
            <div audiourl="{{track.url}}" artist={{track.title}}>{{track.title}}</div>
     </div>
     </div>
 	 
</ion-content>
<div class="bar bar-footer bar-balance ">
	<button class="button control button-balance" ng-click="prevTrack()" ng-disabled="control.prevEnabled"><i class="icon icon ion-ios-rewind"></i></button>
	<button class="button control button-balance" ng-click="playBtn()" ><i ng-class="buttonText" ></i></button>
	<button class="button control button-balance" ng-click="nextTrack()" ng-disabled="control.nextEnabled"><i class="icon icon ion-ios-fastforward"></i></button>
	<div id="seek-field">		
       <input id="audioSeekBar" ng-model="barValue" min="{{barMin}}"  max="{{barMax}}" style="width:100%" type="range" ng-change="audioSeekBar()" />
    </div>
    <div id="duration"><i>{{duration}}/</i>{{audioLen}}</div>
	
</div>
</ion-view>
