<ion-view view-title="Playlist">
  <ion-content>
    
        <div class="player">
            <!-- <div class="pl"></div> -->
            <div class="title"></div>
            <div class="artist"></div>
            <!-- <div class="cover"></div> -->
            <div class="controls">
                <div class="play"></div>
                <div class="pause"></div>
                <div class="rew" ng-disabled="control.prevEnabled" ng-click="prevTrack()"></div>
                <div class="fwd" ng-disabled="control.nextEnabled" ng-click="nextTrack()"></div>
            </div>
            <div class="volume"></div>
            <div class="tracker"></div>
        </div>
        <ul class="playlist">          
            <div class="list playlist" ng-click="playTrack($event, $index, track)" ng-repeat="track in tracks">				
		            <li audiourl="{{track.url}}" artist="{{track.title}}" ng-class="">{{track.title}}</li>		                            
			</div>
        </ul>

  </ion-content>
</ion-view>
